<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
</head>
<body style="font-family: 'Helvetica-Neue', 'Helvetica', 'Arial', sans-serif;">

  <div class="header" style="margin: 0 0 40px;">
    <h1 style="font-size: 36px; color: #222; text-align: center;">The Better Announcements</h1>
    <h2 style="font-size: 14px; color: #555; text-align: center;">Sunday May 6, 2012</h2>
  </div>
  
  <div class="announcement">
    <div class="title" style="padding: 10px; color: white; background-color: #0c28a4;">
      <h2 style="font-size: 16px; margin: 0; padding: 0;">John Kalin</h2>
    </div>
    <div class="body" style="padding: 10px;">
      <p style="font-size: 13px; line-height: 18px;">Hey, come by Tuesday and buy our frisbees!</p>
    </div>
  </div>
  
  <div class="announcement">
    <div class="title" style="padding: 10px; color: white; background-color: #0c28a4;">
      <h2 style="font-size: 16px; margin: 0; padding: 0;">Jeff Carpenter</h2>
    </div>
    <div class="body" style="padding: 10px;">
      <p style="font-size: 13px; line-height: 18px;">We're having a film screening suspendisse at rutrum eros. Mauris arcu lectus, accumsan et commodo sed, pharetra quis ante. Aenean cursus, velit id cursus faucibus, risus felis fermentum turpis, quis suscipit tortor libero at dolor. Aliquam erat volutpat. Aenean erat tortor, sodales scelerisque sodales non, congue ut dolor. Sed lacinia, purus sed scelerisque molestie, risus purus sagittis erat, in iaculis lorem tortor ac risus. This post is 484 characters long including this text.</p>
    </div>
  </div>

</body>
</html>