<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
</head>
<body style="font-family: 'Helvetica-Neue', 'Helvetica', 'Arial', sans-serif;">

  <div class="header" style="margin: 0 0 40px;">
    <h1 style="font-size: 36px; color: #222; text-align: center;">The Better Announcements</h1>
    <h2 style="font-size: 14px; color: #555; text-align: center;"><%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>
  </div>

  <%= render :partial => "user_mailer/post", :collection => @issue.posts %>
  
  <!-- note: add settings and compose links -->
  
  </body>
</html>