<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
</head>
<body style="font-family: 'Helvetica-Neue', 'Helvetica', 'Arial', sans-serif;">

  <div class="header" style="margin: 0 0 40px; padding: 10px; background-color: #031c34;">
    <h1 style="font-size: 36px; color: #fff; text-align: center;">The Better Announcements</h1>
    <h2 style="font-size: 14px; color: #ddd; text-align: center; font-weight: normal;"><%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>
  </div>

  <div style="text-align:center;"><a style="color:#0DB5DB;line-height:50px;" href="http://announcements.io">(new) Read on announcements.io to vote &raquo;</a></div>

  <%= render :partial => "user_mailer/post", :collection => @posts %>

  <!-- note: add settings and compose links -->

    <p style="margin: 0 0 24px; text-align: center;">
      <a style="color:#0DB5DB;" href="<%= @uri_prefix %>">Login to The Better Announcements.</a>
    </p>

  </body>
</html>