<h1>Level</h1>

<ul>
  <li style="margin-bottom:2em; background-color:rgba(0,0,0,0.1); padding:1em;">
    <h2 style="margin-bottom:0.4em;">Executive</h2>
    <p>Recommended for Alumni and X.</p>
    <h5>Examples of posts that were sent to Executive subscribers:</h5>
    <ul>
      <li>Colby gets new president</li>
      <li>Important stuff happens</li>
    </ul> 
  </li>
  <li style="margin-bottom:2em; background-color:rgba(0,0,0,0.1); padding:1em;">
    <h2>Light</h2>
    <p>For students on campus who only want the important stuff.</p>
    <h5>Examples of posts that were sent to Light subscribers:</h5>
    <ul>
      <li>Colby gets new president</li>
      <li>Important stuff happens</li>
    </ul> 
  </li>
  <li>
    <h3>Regular</h3>
  </li>
  <li>
    <h3>Moderator</h3>
  </li>
  <li>
    <h3>Everything</h3>
  </li>
</ul>
