<h1>Level</h1>

<ul>
  <li style="margin-bottom:3em; background-color:rgba(0,0,0,0.2); padding:1em;">
    <h2>Executive</h2>
    <p>Recommended for Alumni and X.</p>
    <h5>Examples of posts that were sent to Y subscribers:</h5>
    <ul>
      <li>Colby gets new president</li>
      <li>Important stuff happens</li>
    </ul> 
  </li>
  <li>
    <h3>Focused</h3>
  </li>
  <li>
    <h3>Regular</h3>
  </li>
  <li>
    <h3>Moderator</h3>
  </li>
  <li>
    <h3>Everything</h3>
  </li>
</ul>
