<h1>Today</h1>

<table class="posts">
  <% @posts.each_with_index do |post, i| %>
    <% if i.even? %>
      <tr>
    <% end %>

      <td style="width:398px;">
        <% if post.photo_url && !post.photo_url.empty? %>
          <img src="<%= post.photo_url %>/convert?w=400" 
               style="border:solid 1px #ccc; width:100%;" />
        <% end %>

        <div class="grey mdy fwb sd">
          <%= post.name_str.upcase %>
        </div>
         
        <h3 class="mdb si"><%= post.title %></h3>

        <div class="body">
          <%= post.content %> 
        </div> 
      </td> 

    <% if @posts.count.odd? && i+1 == @posts.count %>
      <td style="width:398px;">
      </td> 
    <% end %>
      
    <% if i.odd? || i+1 == @posts.count %>
      </tr>
    <% end %>
  <% end %>
</table>
