<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Guide</h1>

<section>
  <p>Here's what you need to know:</p>

  <h2>Everything is changing</h2>

  <p>We're constantly experimenting with this and trying to make it better. If a 600 character limit turns out to be better than the current 500, we'll change it. We're in this for the long run and want to make it work. To do so, we need your <a href="mailto:gcarpenterv@gmail.com">feedback.</a></p>

</section>

<section>
  <h1>Likes</h1>

  <p>If you're a Colby student, you can 'like' posts if you're reading on <a href="/">announcements.io</a>. (We're thinking about expanding this to everybody). Posts are ordered by the number of likes each user has. E.g. if John has 5 total likes and Jeff has 3 total likes, John's posts will appear above Jeff's.</p>
</section>

<section>
  <h1>About</h1>

  <p>The quest to improve the General Announcements began in the spring of 2012 when Jonathan Kalin '14 was dissatisfied with the current announcements and decided to do something about it. He teamed up with Jeff Carpenter '12 and together they started thinking of a ton of ways to improve upon the General Announcements. We hope The Better Announcements is a delight to use and brings you closer to the Colby community.</p>

  <p>The Better Announcements is in no way connected with The General Announcements. Decisions are made solely by Jeff and John. We receive minimal funding from SGA to keep the site running.</p>

</section>

<section>
  <h1>Contact</h1>

  <p>For administrative matters, please email <a href="mailto:jmkalin@colby.edu">John.</a></p>

  <p>For technical matters, please email <a href="mailto:gcarpenterv@gmail.com">Jeff.</a></p>
</section>

<section>
    <h1>Questions, Questions, Questions, flooding into the mind of the concerned young person today...</h1>

  <h2>Why can't I post anything?</h2>

  <p>If you don't see the "compose" link in the navigation, you probably logged in with an account that didn't end in @colby.edu. If you have a Google email separate from your Colby email, please let us know so we can link them for you.</p>

<!--   <p><strong>Updated 9/3/12:</strong> This feature is currently unavailable since it poses a security risk for those logged in on public computers. We're working on a fix for the fix.</p>

  <p>(We can still link your accounts manually. Contact us if you'd like us to.)</p>

<s>
  <p><strong>Updated 9/2/12:</strong> we now have a fix for this.</p>

  <p>If you're a Colby student who uses a separate Gmail account as your primary email, you're going to have to do the following (open each sequentially in a new tab):</p>

  <ol>
    <li><a href="https://www.google.com/accounts/Logout">Log out of Gmail/Google</a></li>
    <li><a href="/logout">Log out of The Better Announcements</a></li>
    <li><a href="http://gmail.com">Log back into Gmail/Google with your Colby account</a></li>
    <li><a href="/">Log back into The Better Announcements</a></li>
  </ol>
</s> -->

  <h2>Can I sign in without using my Google account?</h2>

  <p>Currently the only way to create an account on The Better Announcements is to login using your Google account. Since @colby.edu accounts are technically Google accounts, this covers 100% of the people we want to help.</p>

<!--   <h2>What if I only want your announcements?</h2>

  <p>If you're ready to take this relationship to the next level, you can <a href="http://www.colby.edu/administration_cs/its/services/notices/unsubscribe.cfm">unsubscribe from the general announcements.</a> If you're not ready to do that yet, that's cool, we can still be friends.</p> -->

  <h2>How many Colby students are on The Better Announcements?</h2>

  <p>More than 35% of the student body.</p>

  <h2>How do I delete my account?</h2>

  <p>You can delete your account by going <a href="http://www.youtube.com/watch?v=n56rtgtpwKA">here.</a>

</section>

<section>
  <h1>Release notes</h1>

  <h2>10 - October 28, 2012</h2>

  <ul>
    <li>Added the ability to add a photo to your announcement.</li>
    <li>Attempted to fix complications with copying and pasting announcements.</li>
  </ul>

  <h2>9 - October 16, 2012</h2>

  <p>Fixed authentication so you will stay logged in for longer periods of time.</p>

  <h2>8 - September 23, 2012</h2>

  <p>Added dining hall menus to emails.</p>

  <h2>7 - September 16, 2012</h2>

  <p>Made various improvements to the like system.</p>

  <ul>
    <li>You can now like things from emails</li>
    <li>Changed the way headers look on <a href="/">announcements.io</a></li>
    <li>Decreased forecast from 3 days to 1</li>
  </ul>

  <h2>6 - September 13, 2012</h2>

  <p>Mostly house cleaning. No new big features.</p>

 <ul>
    <li>Still trying to work out the weather-is-a-day-behind issue</li>
    <li>Now rounding likes:posts ratio to 3 decimal places</li>
    <li>Increased weather to 3 days, since 2 forecasts looked a little lonely</li>
    <li>Fixed likes:posts ratio returning NaN when user has no posts (most of you)</li>
    <li>Added possible fix for internal email errors on our end (had to do with the way we delayed email sending)</li>
    <li><a href="/settings">Settings</a> now requires authentication (it always should have)</li>
    <li>Posts are no longer formatted in Markdown</li>
  </ul>

  <h2>5 - September 10, 2012</h2>

  <ul>
    <li>When reading on <a href="/">announcements.io</a>, clicking on a user lets you send an email to them.</li>
    <li>Bug where emails were displaying the previous day's weather fixed.</li>
  </ul>

  <h2>4 - September 9, 2012</h2>

  <ul>
    <li>You can now only upvote posts</li>
    <li>Upvoting is being changed to 'liking'</li>
    <li>You can see who has liked your posts in <a href="/settings">settings</a></li>
    <li>Weather for Waterville, ME appears in the header of emails</li>
    <li>You can turn weather on/off in <a href="/settings">settings</a></li>
  </ul>
</section>
