<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Guide</h1>

<section>
  <p>Here's what you need to know:</p>

  <h2>Be civil</h2>

  <p>Please, let's keep it friendly.</p>

  <h2>Everything is changing</h2>

  <p>We're constantly experimenting with this and trying to make it better. If a 600 character limit turns out to be better than the current 500, we'll change it. We're in this for the long run and want to make it work. To do so, we need your <a href="mailto:gcarpenterv@gmail.com">feedback.</a></p>

</section>

<section>
  <h1>Votes</h1>

  <p><strong>New 9/2/12</strong></p>

  <p>We're now experimenting with giving all Colby users the ability to upvote and downvote on posts. Votes get counted toward that user's "karma," not that individual post. Posts on The Better Announcements are now ordered by user karma, so the more bad puns you make, the <s>higher</s> lower down your posts will appear relative to everyone else.</p>
</section>

<section>
  <h1>About</h1>

  <p>The quest to improve the General Announcements began in the spring of 2012 when Jonathan Kalin '14 was dissatisfied with the current announcements and decided to do something about it. He teamed up with Jeff Carpenter '12 and together they started thinking of a ton of ways to improve upon the General Announcements. We hope The Better Announcements is a delight to use and brings you closer to the Colby community.</p>

  <p>The Better Announcements is in no way connected with The General Announcements. Decisions are made solely by Jeff and John. We receive minimal funding from SGA to keep the site running.</p>
</section>

<section>
  <h1>Contact</h1>

  <p>For administrative matters, please email <a href="mailto:jmkalin@colby.edu">John.</a></p>

  <p>For technical matters, please email <a href="mailto:gcarpenterv@gmail.com">Jeff.</a></p>
</section>

<section>
    <h1>Questions, Questions, Questions, flooding into the mind of the concerned young person today...</h1>

  <h2>Why can't I post anything?</h2>

  <p>If you don't see the "compose" link in the navigation, you probably logged in with an account that didn't end in @colby.edu.</p>

  <p><strong>Updated 9/2/12:</strong> we now have a fix for this.</p>

  <p>If you're a Colby student who uses a separate Gmail account as your primary email, you're going to have to do the following (open each sequentially in a new tab):</p>

  <ol>
    <li><a href="https://www.google.com/accounts/Logout">Log out of Gmail/Google</a></li>
    <li><a href="/logout">Log out of The Better Announcements</a></li>
    <li><a href="http://gmail.com">Log back into Gmail/Google with your Colby account</a></li>
    <li><a href="/">Log back into The Better Announcements</a></li>
  </ol>

  <p>Once you're done with that, you'll be so good at logging you'd make a smashing addition to the woodsmen team.</p>

  <h2>Can I sign in without using my Google account?</h2>

  <p>Currently the only way to create an account on The Better Announcements is to login using your Google account. Since @colby.edu accounts are technically Google accounts, this covers 100% of the people we want to help.</p>

  <h2>What if I only want your announcements?</h2>

  <p>If you're ready to take this relationship to the next level, you can <a href="http://www.colby.edu/administration_cs/its/services/notices/unsubscribe.cfm">unsubscribe from the general announcements.</a> If you're not ready to do that yet, that's cool, we can still be friends.</p>

  <h2>How many Colby students are on The Better Announcements?</h2>

  <p>Between 0 and 1825.</p>

  <h2>Jeff, I see you using cool formatting in your posts. How can I be like you?</h2>

  <p>All posts are formatted using <a href="">Markdown</a>. I plan on making this more clear on the site soon.</p>

</section>