<h1>Guide</h1>

<section>
  <p>Here's what you need to know:</p>

  <h2>Be civil</h2>

  <p>Please, let's keep it friendly.</p>

  <h2>Everything is changing</h2>

  <p>We're constantly experimenting with this and trying to make it better. If a 600 character limit turns out to be better than the current 500, we'll change it. We're in this for the long run and want to make it work. To do so, we need your <a href="mailto:gcarpenterv@gmail.com">feedback.</a></p>

</section>

<section>
  <h1>About</h1>

  <p>The quest to improve the General Announcements began in the spring of 2012 when Jonathan Kalin '14 was dissatisfied with the current announcements and decided to do something about it. He teamed up with Jeff Carpenter '12 and together they started thinking of a ton of ways to improve the General Announcements. We hope The Better Announcements is a delight to use and brings you closer to the Colby community.</p>
</section>

<section>
  <h1>Contact</h1>

  <p>For administrative matters, please email <a href="mailto:jmkalin@colby.edu">John.</a></p>

  <p>For technical matters, please email <a href="mailto:gcarpenterv@gmail.com">Jeff.</a></p>
</section>

<section>
    <h1>Questions, Questions, Questions, flooding into the mind of the concerned young person today...</h1>

  <h2>Why can't I post anything?</h2>

  <p>If you don't see the "compose" link in the navigation, you probably logged in with an account that didn't end in @colby.edu.</p>

  <p>If you're a Colby student who uses a separate Gmail account as your primary email, you're going to have to <a href="https://www.google.com/accounts/Logout">log out of Google</a> and sign back in here as your Colby account. Both John & Jeff have this problem, so we feel your pain. We're working on a fix for it.</p>

  <h2>Can I sign in without using my Google account?</h2>

  <p>Currently the only way to create an account on The Better Announcements is to login using your Google account. Since @colby.edu accounts are technically Google accounts, this covers 100% of the people we want to help.</p>

</section>