<h1>TBA is back.</h1>

<div class="mfb">
  <a href="mailto:hi@colby.io">feedback.</a>
</div>

<section>
    <h1>Questions, Questions, Questions, flooding into the mind of the concerned young person today...</h1>

  <h2>Why can't I post anything?</h2>

  <p>If you don't see the "compose" link in the navigation, you probably logged in with an account that didn't end in @colby.edu. If you have a Google email separate from your Colby email, please let us know so we can link them for you.</p>

  <h2>Can I sign in without using my Google account?</h2>

  <p>Currently the only way to create an account on TBA is to login using your Google account. Since @colby.edu accounts are technically Google accounts, this covers 100% of the people we want to help.</p>

<!--   <h2>What if I only want your announcements?</h2>

  <p>If you're ready to take this relationship to the next level, you can <a href="http://www.colby.edu/administration_cs/its/services/notices/unsubscribe.cfm">unsubscribe from the general announcements.</a> If you're not ready to do that yet, that's cool, we can still be friends.</p> -->

  <h2>How many Colby students are on TBA?</h2>

  <p>About <%= @colby_percentage %>% of the student body.</p>

  <h2>How do I unsubcribe?</h2>

  <p>You can unsubscribe from emails by switching your "receive" setting to <strong>off</strong> in <a href="/settings">settings</a>.</p>

</section>
