<h1>Release notes</h1>

<h2>14 - March 17, 2013</h2>

<ul>
  <li>Added side-by side preview while <a href="/compose">composing</a> an announcement.</li>
  <li>Added an unsubscribe link on the bottom of emails.</li>
  <li>Removed "liking"</li>
</ul>

<h2>13 - November 27, 2012</h2>

<ul>
  <li>Added ability to post anonymously.</li>
  <li>Added search in nav.</li>
  <li>Through search you can now access User and Post pages.</li>
</ul>

<h2>12 - November 13, 2012</h2>

<p>Changed layout of emails... again.</p>

<h2>11 - November 8, 2012</h2>

<p>Changed layout of emails.</p>

<h2>10 - October 28, 2012</h2>

<ul>
  <li>Added the ability to add a photo to your announcement.</li>
  <li>Attempted to fix complications with copying and pasting announcements.</li>
</ul>

<h2>9 - October 16, 2012</h2>

<p>Fixed authentication so you will stay logged in for longer periods of time.</p>

<h2>8 - September 23, 2012</h2>

<p>Added dining hall menus to emails.</p>

<h2>7 - September 16, 2012</h2>

<p>Made various improvements to the like system.</p>

<ul>
  <li>You can now like things from emails</li>
  <li>Changed the way headers look on <a href="/">announcements.io</a></li>
  <li>Decreased forecast from 3 days to 1</li>
</ul>

<h2>6 - September 13, 2012</h2>

<p>Mostly house cleaning. No new big features.</p>

<ul>
  <li>Still trying to work out the weather-is-a-day-behind issue</li>
  <li>Now rounding likes:posts ratio to 3 decimal places</li>
  <li>Increased weather to 3 days, since 2 forecasts looked a little lonely</li>
  <li>Fixed likes:posts ratio returning NaN when user has no posts (most of you)</li>
  <li>Added possible fix for internal email errors on our end (had to do with the way we delayed email sending)</li>
  <li><a href="/settings">Settings</a> now requires authentication (it always should have)</li>
  <li>Posts are no longer formatted in Markdown</li>
</ul>

<h2>5 - September 10, 2012</h2>

<ul>
  <li>When reading on <a href="/">announcements.io</a>, clicking on a user lets you send an email to them.</li>
  <li>Bug where emails were displaying the previous day's weather fixed.</li>
</ul>

<h2>4 - September 9, 2012</h2>

<ul>
  <li>You can now only upvote posts</li>
  <li>Upvoting is being changed to 'liking'</li>
  <li>You can see who has liked your posts in <a href="/settings">settings</a></li>
  <li>Weather for Waterville, ME appears in the header of emails</li>
  <li>You can turn weather on/off in <a href="/settings">settings</a></li>
</ul>
