<div style="padding-bottom:10em;">
  <% @posts.each do |p| %>
    <h2><%= p.title %></h2>
    <div>
      <%= p.content %>
    </div>
  <% end %>
</div>

<div class="google_button">
  <a href="/auth/google_oauth2/" class="google_login">
    Login with Google
  </a>
</div>
