<div class="home_index">

The General Announcements suck

Why this is better than the GA

-You don’t receive 4 emails a day
One post per person, per day.

- You don’t have to read a novel
500 character limit. Forces you to be more concise and get to the point.

- Conversation is easier.
Easy reply button in email.

- We’re not the administration.
TBA is made by two students who love Colby and want to solve a problem:

The General Announcements suck

  <div class="google_button">
    <a href="/auth/google_oauth2/" class="google_login">
      Login with Google
      <!-- <%= image_tag "google_login.png" %> -->
    </a>
  </div>

  <p>We want your feedback.</p>

</div>