<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<section>
  <h2>Subscription</h2>
  <form>
    <div class="setting clearfix">
      <label for="receive_checkbox">Receive Announcements</label>
      <div class="checkbox" id="asdf">
        <input type="checkbox" id="receive_checkbox" data-user-id="<%= current_user.id %>" <% if current_user.receive %>checked="checked"<% end %> />
      </div>
    </div>
  </form>
</section>

<section>
  <h2>Yourself</h2>
  <%= render :partial => 'users/form' %>
</section>