<h2>Subscription</h2>

<form>
  <div class="setting clearfix">
    <label for="receive_checkbox">Receive The Better Announcements</label>
    <div class="checkbox" id="asdf">
      <input type="checkbox" id="receive_checkbox" data-user-id="<%= current_user.id %>" <% if current_user.receive %>checked="checked"<% end %> />
    </div>
  </div>

</form>