<h1>Stats</h1>

<table>

  <tr>
    <td>Total users</td>
    <td><strong><%= @users_count %></strong></td>
  </tr>

  <tr>
    <td>Total users receiving email</td>
    <td><strong><%= @users_receive_count %></strong> (<%= @users_receive_ratio %>%)</td>
  </tr>

</table>

