<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2>Success!</h2>

<p>Check your email for details. You'll be receiving your first Better Announcements tonight.</p>