<div class="pkr badr" style="width:400px;">
  <h2 class="fwn sj grey">Newest</h2>

    <% @posts.each do |post| %>
      <div class="pft sidepost">

        <h3 class="sh grey mcb"><%= post.title %></h3>
        <div class="fwb grey mdb"><%= post.public_user_name.upcase  %></div>

        <% if post.photo_url && !post.photo_url.empty? %>
          <div class="mcb">
            <img src="<%= post.photo_url %>/convert?w=580" style="width:100%;" />
          </div>
        <% end %>

        <div class="grey">
          <%= simple_format(auto_link(post.content)) %>
        </div>

      </div>
    <% end %>
</div>
