<% if @already %>
  <h2 class="green">Post scheduled for <%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>
<% else %>
  <h2>Composing post for tomorrow, <%= @issue.publish_date.strftime('%B %-d, %Y') %></h2>
<% end %>

<%= render 'form' %>




