<% if @post.photo_url && !@post.photo_url.empty? %>
  <div>
    <img src="<%= @post.photo_url %>/convert?w=960" style="width:100%;" />
  </div>
<% end %>

<div class="pk">

  <h2 class="sm mbb"><%= @post.title %></h2>

  <div class="post_info">
    <% if @post.anon %>
      <span><strong>Anonymous</strong></span>
    <% else %>
      <span><%= link_to @post.user.name, @post.user %></strong></span>
    <% end %>


  </div>

  <div><%= simple_format(auto_link(@post.content)) %></div>

</div>
