<% if @post.photo_url && !@post.photo_url.empty? %>
  <div class="feature_photo"
       style="background-image:url('<%= @post.photo_url %>/convert?w=1024');"
    ></div>
<% end %>

<div id="content">
  <h2 class="sm mdt mbb"><%= @post.title %></h2>

  <div class="post_info mdb">
    <% if @post.anon %>
      <span><strong>Anonymous</strong></span>
    <% else %>
      <span><%= link_to @post.user.name, @post.user %></strong></span>
    <% end %>
  </div>

  <div><%= simple_format(auto_link(@post.content)) %></div>
</div>
