/*
 *= require_self
 *= require fungible 
 *= require_tree .
*/

/* Add to fungible */
.ligrey {
  color: #ccc;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }
