/* Global
===================================*/
body {
  background: url(image_path('bg.png'));
}
ul {
  margin: 0;
  list-style: none;
}
a {
  color: #0db5db;
  font-weight: bold;
}
a:hover {
  color: #0a8dab;
}
h2 {
  font-size: 18px;
  color: #333;
  line-height: 24px;
  margin: 0 0 18px;
  &.green {
    color: #0fad3d;
  }
}
.notice {
  background-color: #ddd;
  padding: 12px;
  margin: 0 0 18px;
}

/* Layout
===================================*/
#wrap {
  width: 600px;
  margin: 64px auto 0;
}
#content {
  padding: 64px 0;
}

/* Header
===================================*/
header {
  margin: 0 0 24px;
  h1 {
    font-size: 28px;
    letter-spacing: -1px;
    padding: 0 0 6px;
    margin: 0 0 24px;
    border-bottom: solid 1px #ccc;
  }
  ul {
    li {
      margin: 0 12px 24px 0;
      float: left;  
      a {
        padding: 0 0 4px;
      } 
      a.admin {
        color: #888;
        &:hover{
          color: #bbb;
        }
      }
      a.current {
        border-bottom: solid 2px;
      }
    }
  }
}

/* Content
===================================*/


section {
  margin: 0 0 24px;
}
section p {
  font-size: 14px;
}
section ul {
  margin: 0 0 12px 24px;
  list-style-type: disc;
  font-size: 14px;
}
section li {
  margin: 0 0 6px;
}

.error_explanation {
  padding: 12px 12px 0;
  margin: 0 0 12px;
  background-color: #f7384a;
  color: white;
  p {
    display: block;
    padding: 0 0 12px;
  }
}

/* Compose
===================================*/
form .field {
  margin: 0 0 18px;
}
form input[type='text'] {
  display: block;
  width: 584px;
  padding: 6px;
  font-size: 18px;
  border: solid 2px #ccc;
}
form textarea {
  display: block;
  border: solid 2px #ccc;
  width: 584px;
  padding: 6px;
  height: 200px;
  font-size: 18px;
  line-height: 24px;
}
form #submit {
  text-align: center;
}
form #char_counter {
  font-weight: bold;
}

/* Settings
===================================*/
.setting {
  background-color: #ddd;
  padding: 18px;
  label {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #222;
    padding: 5px 0 0;
  }
  .checkbox {
    float: right;
  }
}

/* Footer
===================================*/
footer {
  margin: 24px 0 0;
  padding: 12px 0;
  border-top: solid 1px #ccc;
}

/* Page Specific
===================================*/
.home_index {
  text-align: center;
  h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 48px;
    padding: 24px 0;
    background-color: #a9ebfa;
  }
  ul {
    width: 66%;
    margin: 0 auto 48px;
    text-align: left;
    list-style: disc;
    font-size: 18px;
    li {
      margin: 0 0 4px;
    }
  }
  h3 {
    font-size: 13px;
    margin: 0 0 12px;
  }
  form {
  }
  .field {
  }
}

