* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #888;
}
a:hover {
  color: #444;
}

.notice {
  background-color: #ddd;
  padding: 12px;
  margin: 0 0 18px;
}

.sidepost {
  background-size: cover;
  &.current a {
    color: #444; 
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  tr {
    td {
      vertical-align: top;
    }
  }
}
