<h1>Stats<span style="font-weight:normal;margin-left:24px;">Issue Pipeline</span></h1>

<%= render 'stats_nav' %>

- Next issue
  - How many scheduled posts
    - Who's scheduled them, preview of what they say

- This issue
  - How many opens (see email for more detailed information)
  - How many likes

- All Issues
  - Histogram of posts per issue